#baby-youre-so-squared {
  background: #9bb07b;
  color: #fff;

  .wrapper {
    display: block;
    text-align: center;
    padding: 15vh 0;
  }

  h2 {
    font-family: 'Pixelmix';
    color: #3E4630;
    font-size: 1em;
  }

  ul {
    list-style: none;
    text-align: center;
    padding: 30px 0 0 0;

    li {
      display: inline-block;
      margin: 0 25px 25px;
      padding: 16px;

      background-image: url("../images/screens/display.png");
      background-repeat: no-repeat;
      // background-position: 50% 50%;

      img { width: 250px; }
    }
  }
}