#gimme-dem-pixels {
  .device {
    width: 250px;
    height: 420px;
    display: block;
    position: relative;

    img {
      width: 100%;
      height: auto;
      position: relative;
      top: 150px;
    }

    .zoom {
      position: absolute;
      top: 0;
      left: -140px;
      width: 300px;
      height: 300px;
      overflow: hidden;
      border-radius: 50%;

      img {
        width: 200%;
        height: auto;
        position: relative;
        top: -70px;
        left: -150px
      }
    }
  }

  .huge {
    font-size: 4em;
    margin-bottom: 0;
    + p {
      margin-top: 0;
      font-size: .75em;
      line-height: .75em;
    }
  }
}