#what-a-mess {
  background: $color-black;
  color: #eee;

  .wrapper { height: 600px; }
}

#omg-why {
  width: 500px;
  margin-left: -10vh;
  position: relative;
  img {
    max-width: 500px;
    float: right;
  }
  .ad-01 {
    position: relative;
    left: -40px;
    top: -150px;
    width: 400px;
  }
  .ad-02 {
    position: absolute;
    top: 155px;
    right: -40px;
    width: 400px;
    z-index: 10;
  }
  .ad-03 {
    position: absolute;
    top: 90px;
    left: -100px;
    width: 300px;
  }
}