#yeah-right {
  @include display-flex;
  @include flex-props(row wrap, space-between, center, center);
  padding-top: 0;
  padding-bottom: 0;

  background: #f7f7f7;

  .device {
    width: 350px;
    height: 100%;
    background: url(../images/casio.png) no-repeat center;
    background-size: 100% auto;
  }
}