#yeah-right {
  padding-top: 0;
  padding-bottom: 0;

  background: #f7f7f7;
  position: relative;

  .wrapper { padding: 0; }

  .device {
    width: 350px;
    height: 600px;
    background: url(../images/casio.png) no-repeat center;
    background-size: 100% auto;
  }
}